# Dependencies
node_modules/

# Next.js
.next/
.next.*/
out/
next-env.d.ts

# Build
build/
dist/
dist.*/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Vercel
.vercel
