# Dependencies
node_modules/

# Build
dist/
dist.*/
build/

# Coverage
coverage/
*.lcov
.nyc_output

# TypeScript
*.tsbuildinfo

# Environment
.env

# Logs
logs/
*.log

# Test
test-results/

# Misc
.DS_Store
