[production]
hortti-prod ansible_host=YOUR_EC2_PUBLIC_IP

[production:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/hortti-prod-key.pem
ansible_python_interpreter=/usr/bin/python3

[all:vars]
# Application
app_name=hortti-inventory
app_user=ubuntu
app_dir=/opt/hortti-inventory
environment=production

# Docker
docker_compose_version=2.23.0
